 body {
	background: rgba(84, 74, 69, 0.2);
	margin: 20;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
}

h2 {
  padding-top: 20px;
	padding-left:40;
  line-height: 0.5em;
}

p {
	font-family: 'Montserrat', sans-serif;
	padding-left:40px;
	width: 95%;
  font-size:16px;
}

ul {
	padding-left: 80px;
  font-size: 16px;
}

ul > li {
  font-weight:500;
}

.container-fluid {
  max-width: 1000px;
}

.avatar {
  max-width: 150px;
  max-height: 150px; 
  border-radius: 50%;
}

.headline  {
	text-align: center;
  font-size: 1.2em;
}

.links {
  margin-bottom: 30px;
}

.links > a {
  padding: 0 3px;
  color: #4d1a00;
}

.links > a:hover {
  padding: 0 3px;
  color: #6a6a6a;
}

.links > a > i {
  font-size: 1.5em;
}

.image {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image:hover .hover {
  visibility: visible;
}

.hover {
  cursor: pointer;
  position: relative;
  visibility: hidden;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: rgba(42, 37, 34, 0.5);
}

.inner-border {
  position: relative;
  width: 100%;
  height: 100%;
  outline-offset: -15px;
  border: 2px dashed rgba(255, 255, 255, 0.5);
}

.hover > h6 {
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 200px;
  color: white;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

ul.contact {
  list-style-type: none;
  margin: 40px;
  padding: 0;
  overflow: hidden;
}

ul.contact > li {
  float: left;
  padding-right: 10px;
  padding-left: 40px;
  font-size: 20px;
  display: inline;

}




